body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
}

.row{
    display: flex;
}